@charset "UTF-8";
/* 共通部分-----------------*/
html{
    font-size: 100%;
}

body{
    color: #3A3A3A
}

a{
    text-decoration: none;
}

p{
    padding-top:20px;
    text-align-last: center;
}

img{
    max-width: 100%;
}

h2{
    font-size: 2.5rem;
    color: #665846;
    text-align: center;
    background-color: #96DFD6;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    font-size: 1.5rem;
    color: #96DFD6;
    text-align: center;
    background-color:  #665846;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:50px;
}

header{
    background-color: #665846;
    width:100%;
    position: sticky;
}

.header-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.main-nav{
    display: flex;
    font-size:1.1rem;
    text-transform: uppercase;
    list-style: none;
}

.main-nav a{
    color: white;
    padding-left:20px;
}

.main-nav a:hover{
    color:#96DFD6;
}

.page-header{
    display: flex;
    justify-content: space-between;
    padding-top:15px;
    padding-left:10px;
    padding-right: 10px;
}

.top_image{
    background-image: url(images\backimage.png);
}
.CONCEPT , .Top_MENU{
    background-color: #FEF2E2;
}

.catch{
    color: #665846;
    font-size:1.25rem;
    font-weight: bold;
    text-align: center;
    padding-top:20px;
}

.mini_lovot{
    text-align: center;
    padding-top:20px
}

.request{
    max-width: 680px;
    width: 97%;
    margin: 0 auto;
    height: auto;
    border: 2px solid #665846;
    margin-left: auto;
    margin-right: auto;
}

.request p{
    text-align: left;
}

.request_list{
  display: table;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  line-height: 25px;
}

.Top_ROAD{
    background-image: url(images\backimage.png);
}

.road_icon{
    text-align: center;
    padding-top:30px;
}

.grid{
    display: grid;
    max-width: 680px;
    width: 97%;
    margin: 0 auto;
    height: auto;
    gap:26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
}

.formbox{
   text-align: center;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #665846;
}

.footer-c{
    color:white;
    text-align: center;
    padding-top:10px;
    margin-top:50px;
}
